body {
    background: #000;
    font: normal 14px/2 '微软雅黑';
    color: #464646;
    padding-top: 28px;
}
* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style:normal }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
header {
    width: 980px;
    margin: 0 auto;
}
header .name {
    font: bold 36px/48px Arial, Helvetica, sans-serif;
    color: #F90 }
header nav {
    height: 50px;
    background: #663;
    border-radius: 5px;
    text-align: center;
}
header nav, header nav a {
    color: #fff }
header nav ul li {
    display: inline-block;
    *display:inline;
    *zoom:1;
    width: 200px;
    line-height: 50px;
}
#container {
    margin: 12px auto;
    width: 980px;
    overflow: hidden;
    zoom: 1;
}
#container article {
    width: 700px;
    background: #fff;
    border-radius: 5px;
    float: left;
    margin-bottom:10px;
    padding:0 12px;
}
#container article h1 {
    height: 48px;
}
#container article figure {
    text-align:center;
}
#container article figure img {
    max-width: 100%;
    height: auto;
    margin:0 auto
}
#container article section {
    margin: 20px;
    font-size: 12px;
}
#container article section p {
    margin-top: 1em;
    text-indent: 2em }
#container aside {
    width: 240px;
    float: right;
}
#container aside article {
    background: #fff;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    width:220px;
    margin-bottom:12px
}
#container aside article h1 {
    font:bold 14px/28px '微软雅黑';
    border-bottom:1px solid #eee;
    height:28px;
}
#container aside article .imglist {
    font-size:0
}
#container aside article .imglist li {
    display:inline-block;
    display:inline;
    zoom:1;
    width:66px;
    height:50px;
    border:1px solid #eee;
    overflow:hidden;
    margin-right:5px;
    margin-top:5px;
}
#container aside article .imglist li img {
    width:20%;
    height:auto;
    margin:2px;
}
footer {
    background: #669;
    width: 980px;
    margin: 12px auto;
    color: #fff;
    height: 36px;
    text-align: center;
    font: normal 12px/36px '微软雅黑';
    border-radius: 5px;
}
@media screen and (max-width:980px) {
    header {
    width:100%;
    overflow:hidden;
    *zoom:1;
}
header .name {
    font: bold 36px/48px Arial, Helvetica, sans-serif;
    color: #F90;
    text-align:center
}
header nav {
    background: none;
    text-align: center;
    height:auto;
    width:100%;
}
header nav ul li {
    display:inline-block;
    background: #663;
    border-radius: 5px;
    margin:3px 0;
    height:30px;
    line-height:30px;
    width:20%;
}
#container {
    margin: 12px auto;
    width: 100%;
    overflow: hidden;
    zoom: 1;
}
#container article {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    float: none ;
    padding:0;
}
#container article h1 {
    width:95%;
    margin:0 auto }
#container article figure {
    width:95%;
    margin:0 auto
}
#container aside {
    width: 100%;
    ; float: none;
}
#container aside article {
    background: #fff;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    width:100%;
    margin-bottom:6px
}
footer {
    background: #669;
    width: 100%;
    margin: 12px auto;
    height:auto;
    color: #fff;
    text-align: center;
    font: normal 12px/24px '微软雅黑';
    border-radius: 5px;
    padding:12px 0
}
footer em {
    width:95%;
    margin:0 auto;
    display:block;
    border-bottom:1px dotted #789
}
}